<!DOCTYPE html>
<html>

<head>
    <!-- Required Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Bar -->
    <title>School Application</title>

    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
</head>

<body style="text-align: center;">
    <div class="container mt-5 pt-5">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header">
                        <h3>Admin Register</h3>
                    </div>
                    <div class="card-body">
                        <form id="admin_register" @submit="checkForm" novalidate="true">
                            <p v-if="errors.length">
                                <b>Please correct the following error(s):</b>
                                <ul>
                                    <li v-for="error in errors">{{ error }}</li>
                                </ul>
                            </p>

                            <div class="form-group">
                                <input class="form-control"  type="text" placeholder="Full name" v-model="fullName">
                            </div>

                            <div class="form-group">
                                <input class="form-control"  type="text" placeholder="email" v-model="email">
                            </div>

                            <div class="form-group">
                                <input class="form-control"  type="password" placeholder="password" v-model="password">
                            </div>
                            <ul id="my-list"></ul>

                            <button class="btn btn-primary btn-block">Register</button>
                            <a href="admin_login.html">login instead</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="admin_register.js"></script>
</body>

</html>