<!DOCTYPE html>
<html>
<head>
    <!-- Required Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Title Bar -->
    <title>School Application</title>
    
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
</head>
<body>
    <form id="user" class="form-inline">
    	<div class="form-group">
    		<input type="text" placeholder="search" v-model="search">
    	</div>

    	<button v-on:click="onSubmit" class="btn btn-primary">Search</button>
    </form>

    <div id="filter">
        <h1>Filters</h1>
        <select multiple v-model='selectedTopic'>
            <option v-for='topic in topics'>
                {{topic}}
            </option>
        </select>
        <p>Selected topics: {{selectedTopic}}</p>
        <!-- <br> -->
        <select multiple v-model='selectedLocation'>
            <option v-for="location in locations">{{location}}</option>
        </select>
        <p>Selected location: {{selectedLocation}}</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="user.js"></script>
</body>
</html>